/*
기획.pdf가 폴더정리를 망칠 거 같은데 게시판을 개발합시다. 팟팅!
요구사항에 게시판 개발이라고 적어놔야겠다.
*/
/*
내가 express를 처음 다뤄서 메모를 좀 적으려고
하는데 인터넷에 올리려면 친절하게 처음부터 
적어야 할 거같다. 즉, 깃허브부터 적어야겠지ㅠㅠ
*/
깃 명령어 필요없이, vscode github 연동.

1) 깃허브 [계정] 생성
2) 깃허브 [리포트리지] 생성

3) 깃허브 개인 도메인하는 법
- 도메인 구입
- 깃허브>셋팅>페이지에 도메인을 적는다.
- 깃허브 도움말에서 네임서버를 찾는다.
* 보통 aws이나 다른 서버같은 경우 네임서버가 4차까지 있는 반면에, 깃허브는 1개 뿐이다. 처음하는 사람은 열라 햇깔림.
- 카페24 예시) 카페24 도메인-네임서버> 4칸 전부 다, 내용물 삭제> 첫 칸만 깃허브 도움말에 있는 네임서버를 복붙한다.

4) 깃 다운로드
5) 비주얼 스튜디오 코드 다운로드

6) 비주얼 스튜디오 코드1
- vscode> f1> git Clone> [리포지토리URL] 복붙
* github의 리포지토리가 로컬저장소에 저장됩니다. 그리고 vscode의 폴더열기가 변해요.

7) 비주얼 스튜디오 코드2
- 깃허브>오른쪽 위 프로필>셋팅>개발자셋팅>personal access tokens>크리에이티브 토큰
*아이디, 비밀번호로 접속하는게 아니라 깃허브에서 토근을 발급받아서 한다.

8) 비주얼 스튜디오 코드3
- git icon> (파일 옆) +> (소스 제어 옵션바) v> 커밋메시지아무거나> (오른쪽아래)새로고침 icon
* 1번부터 7번까지는 기본 셋팅이다. 많이 쓰는 건 8번이다. 그래서 1번부터 7번까지 쓰기 귀찮았다.

/*
와 이제 나를 위한 요점정리를 시작해 볼까!
node.js파일은 익스프레스에 올리고, html/css는 깃허브에 올리는 거구나 가 node.js를 처리해 주는게 아니니까!
*/
1) node.js 다운로드

2) MySQL 다운로드
* 왜 사람들은 친절하지 못 한 걸까, MySQL다운하기 전에 win+x> y> 이 pc의 이름 바꾸기> 한글이름이라면 영문이름으로 바꾼다.
- https://downloads.mysql.com/archives/installer/
- 설치는 NEXT 버튼을 계속 클릭하고 마지막에 root 비밀번호를 잊어서는 안됨

3) Mysql version command line
- 커멘드라인을 사용해야됨.
- root 비밀번호 엔터

4) create 키워드
- create database 데이터베이스명;
- creat table 테이블명 {
    필드명 자료형 필드의 속성명
    id int primary key
    name varchar not NULL
    /*
    - 자료형: varchar 문자열, int 정수 숫자, double 실수 숫자.
    - 필드의 속성명 : NOT NULL 반드시 입력해야 하는 필드, AUTO_INCREMENT 자동으로 숫자가 증가하게 만든다. PRIMARY KEY 기본 키로 지정한다.
    * 테이블 생성할 때 표의 형태까지 만드는구나, 구글링하면 추가, 삭제, 수정있당.
    */
} ;

4) CRUD
- CRUD는 DB의 가장 기본적인 기능입니다.
- Create, Read, Update, Delete라고 해서 CRUD라고 합니다.

- CRUD를 만들기 위해서 express 모듈, body parser 모듈, ejs 모듈, MySQL 모듈을 설치를 합니다.
- npm install express
- npm install body parser
- npm install ejs
- npm npm install mysql

- 예시) 데이터 조회
- SELECT 필드, 필드 FROM 테이블 형식으로 퀴리문을 사용한다.
- SELECT 필드, 필드 FROM 테이블 where 필드='필드값'; 형식으로 조건검사의 퀴리문을 사용한다.(연산자사용, Like)
- SELECT 필드, 필드 FROM 테이블 order asc(오름차순) or desc(내림차순);으로 데이터 정렬을 사용한다.
- SELECT 필드, 필드 FROM 테이블 limit 2 or 2,2; 를 이용하여 상위데이터를 선택한다. 2,2는 2묶음의 두 번째. //게시판 페이징할 때, 사용함.
/********************/
const fs = require('fs');
const ejs = require('ejs');
const express = require('express');
const bodyParser = require('body-parser');
const mysql = require('mysql');

/* DB connect */
let client =mysql.createConnection( { // mysql 객체의 함수, 속성엔 user와 password가 있다.(필수 입력)
    user : '';
    database : '';
    password : "";
} );
/* 웹서버 생성 */
let app = express();
app.user(bodyParser.urlencoded( { extended: false} )); //post를 사용하기 때문에 인코딩을 해야한다.
/* db로 접속 .get 메소드를 사용한다. */
app.get('/', (request, response) )=> { //db로 접속해서 데이터를 가져와서, 아래 파일에 데이터를 뿌려버린다.
    fs.readFile('게시판명.html', 'utf-8', (error, data) => {
        response.send(ejs.render (data, { //ejs가 표현식을 도와줌.
            data: result
        }));
    } );
} );
/*
게시판명.html에서 body에 테이블 시작하는데에 <%  data.forEach (function (item, index {%> 으로 표현식을 열어주고?
<%= item.필드명 %>
<% ) }; %>
html에서 데이터를 출력할 수 있다^!^
%/

- 예시) 데이터 저장
- INSERT INTO (필드,필드) VALUE (데이터, 데이터) 형식으로 퀴리문을 작성한다.
app.get('/insert', (request, response) => {
    fs.readFile('게시판명.html'm 'utf-8', (error, data) => {
        response.end(data);
    } );
} );
app.post('/insert', (request, response) => {
    let body = request.body;
    client.query('INSERT INTO 테입ㄹ명 (필드) VALUE (?, ?, ?')'', [body.필드명]
} );
/%
게시판.html에서
form method="post"
... input type="text" name="필드명"
... input type="submit"
%/

- 예시) 데이터 삭제
- delete from 테이블명 where 필드명(키)="필드값"; //조건으로 프라이머 키를 사용하지 않으면 전체 데이터가 삭제되니, 주의하기 바란다.
app.get('/delete/:id', (request, response) => { // /:id를 하는 이유는 전체 다 삭제하지 않기 위해서
    client.query('DELETE FROM 테이블명 WHERE 필드명(key)=?', [request.params.id], () => { //필드값대신 클릭한 필드값을 지우기 위해서 [ㅇㅇ]을 사용함.
        () => {
            response.radirect('/');
        } );
    });
} );

- 예시) 데이터 수정
- update 테이블명 set 필드명="필드값" where 필드명(key)="필드값"//조건으로 프라이머 키를 사용하지 않으면 전체 데이터가 변경되니, 주의하기 바란다.
app.get('/edit/:id', (request, response) => {
    fs.readFile('게시판명.html'm 'utf-8', (error, data) => {
        
        client.query('UPDATE 테입ㄹ명 (필드) VALUE (?, ?, ?')'', [body.필드명], (error, result)  => {
            response.send(ejs.render(data, {
            data: result[0]
        } ) );
    } );
} );
app.post('/insert', (request, response) => {
    let body = request.body;
    
} );
/%
게시판.html에서
form method="post"
... input type="text" name="필드명" value<%= data.id %> disable/>
... input type="submit"
%/
app.post('/edit/:id', (request, response) => {
    let body = request.body;

    client.query('UPDATE 테입ㄹ명 SET 필드=?, 필드=? VALUES (?, ?), [body.필드, body.필드], (error, result) => {
    } );
} );

1) 익스프레스 다운로드
- npm install -g express-generator 
* -generator를 붙이면, express는 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는 배치파일이 아닙니다.를 예방할 수 있다.

2) 익스프레스 프로젝트 생성 //익스프레스 프로젝트를 깃허브에 생성할 수 있구나
- express Helloexpress //프로젝트생성
- cd Helloexpress //프로젝트로 이동
- npm install //기본 index.html를 보러갑시다.
- SET DEBUG=helloexpress:* & npm start //시작
- 127.0.0.1:3000

2) express 프로젝트를 깃허브에 커밋하기.
* 변경된 사항이 1000개 정도 있을텐데, 이거 1000개가 다 해체되서 올라가는 거 아니야?라고 걱정할 필요가 없다. 폴더채로 커밋된다.

3) 프로젝트 설명
- bin 폴더는 프로그램 실행파일이 있고 www 파일을 싱행해서 프레임워크를 실행한다.
- public 폴더는 express 모듈의 static 미들웨어를 사용하여 웹 서버에 로딩하고 자바스크립트, css, 그림파일 등의 리소스 파일을 생성한다.
- routes 폴더는 페이지 라우트와 관련되어 있는 모듈이며 index.js. 파일과 routes 파일이 있다.
- views 폴더는 html 대신 ejs랑, jade라고? 백날 싫어해서 뭐하냐... 우리는 적응의 동물이다.
- app.js는 프로젝트의 중심이 되는 파일이며 package.json 파일은 현재 프로젝트와 관련된 정보와 모듈을 설치하는데 필요한 내용을 담고 있다.

