<img src="https://github.com/wedydesign/image/blob/master/210721_02.jpg?raw=true" alt="">
<div class="wedy05">
  <h3>프로필사진촬영계획</h3>
  <p>22,23일은 청약, 전세 알아봐야하고 원룸텔들어가느니 어처피가야해!</p>
  <p>26일 시나브로랑, 북부노동청 가야하고</p>
  <p>27일 석남동 짐 다 붙이고, 고데기 가져오기</p>
  <p>28일 집에서 촬영</p>
  <img src="https://github.com/wedydesign/image/blob/master/wedy001.jpg?raw=true" alt="">
</div>
<div class="wedy03">
  <h3>이름</h3>
  <p>박윤서</p>
  <h3>거주지</h3>
  <p>고척1동 오피스텔 전세 또는 원룸텔!</p>
  <p>7월 25일 안으로 청년청약신청좀해ㅠ</p>
  <h3>나이</h3>
  <p>28</p>
  <h3>휴대폰</h3>
  <p>010-3431-3868</p>
  <h3>이메일</h3>
  <p>yoonseopark@wedydesign.com</p>
  <h3>SNS계정</h3>
  <p>없으</p>
</div>
<div class="wedy01">
  <h3>학력사항</h3>
  <p>서울디지털대학교 소프트웨어공학과(재학중)</p>
  <p>인천디자인고등학교 시각디자인학과</p>
  <h3>주요 경력사항</h3>
  <p>회사명: CV무역</p>
  <p>직위: 대리</p>
  <p>근무기간: 20년 11월  21년 7월</p>
  <p>담당 업무: C/S</p>
  <p>치노시노야</p>
  <p>민광C&C</p>
  <p>데코라인</p>
  <h3>교육 및 자격사항</h3>
  <p>GTQ 그래픽기술자격 1급</p>
  <p>디지털웹디자인(프론트엔드)</p>
  <h3>수상경력</h3>
  <p>지방기능경기대회 그래픽디자인부분 은상</p>
  <p>지방기능경기대회 그래픽디자인부분 은상</p>
</div>
<div class="wedy04">
  <h3>자기소개 3줄</h3>
  <p>하루에 3개 가능?</p>
  <p>포트폴리오도 하루에 3개 가능?</p>
  <p>비공개게시판</p>
</div>
<div class="wedy05">
  <h3>연관컨텐츠</h3>
  <a href="https://leeminhyoung.com/about-me-2">참고1</a>
  <a href="https://hyewonyang616.wixsite.com/fishbowl/portfolio">참고2</a>
</div>
