<div id="logo"><a href="wedydesign.com"></a><img src="https://github.com/wedydesign/image/blob/master/20210907_01.jpg?raw=true" alt="웨디디자인"></a></div>
  <nav>
    <ul id="gnb">
      <li class="on"><a href="/">홈</a></li>
      <li><a href="/about">인적사항</a></li>
      <li><a href="/service">지원분야</a></li>
      <li><a href="/portfolio"> 웹디자인포트폴리오</a></li>
      <li><a href="/contact">고객지원</a></li>
      <li><a href="/reminder">할일</a></li>
      <li><a href="/devel">개발이야기</a></li>
      <li><i class="fas fa-arrow-left"></i></li>
    </ul>
  </nav>
  <i class="fas fa-bars"></i>