doctype html 
html
    head 
        title= tilte 
        link(rel="stylesheet", href="/styleshhets/style.css")
    body
        h #(title)
        p Node.js Program for Modern Web Development
        hr